.HeroSection {
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: #274c5b;
      font-size: 47px;
    }
  }
  .product {
    margin: 90px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
}
