.ProductCard {
  position: relative;
  width: 320px;
  height: 470px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;

    .type {
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 15px;
      font-weight: 600;
      border-radius: 8px;
      background: rgb(39, 76, 91);
      width: 96px;
      height: 31px;
      padding: 5px 12px 6px 12px;
    }
    .image {
      height: 270px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 12px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
      }
    }
    .text {
      h5 {
        color: rgb(39, 76, 91);
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .line {
        border: 1px solid rgb(222, 221, 221);
        width: 100%;
      }
      .price_rating {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          color: rgb(39, 76, 91);
          font-size: 18px;
          font-weight: 700;
        }
        .rating {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
